.homepage-category-section {
    padding: 40px;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.homepage-section-content {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.homepage-category-header {
    flex-shrink: 0;
    width: 120px;
}

.homepage-category-title {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 12px;
}

.homepage-more-link {
    color: #666;
    text-decoration: none;
    font-size: 1rem;
    display: block;
}

.homepage-product-list-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 120px);
}

.homepage-product-list {
    display: flex;
    gap: 50px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 0 0px;
}

.homepage-product-list:active {
    cursor: grabbing;
}

.homepage-product-list::-webkit-scrollbar {
    display: none;
}

.category-nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: white;
    padding: 0px;
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
    z-index: 1;
    transition: color 0.2s ease-in-out;
}

.category-nav-button:hover {
    color: white;
}

.category-prev-button {
    left: 10px;
}

.category-next-button {
    right: 10px;
}

@media (max-width: 1200px) {
    .homepage-product-list {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    .homepage-product-list-wrapper {
        width: calc(100% - 60px);
    }

    .category-nav-button {
        font-size: 1.5rem;
        padding: 5px;
    }

    .homepage-product-list {
        padding: 0 20px;
    }
}