.container {
  margin-top: 300px;
  justify-content: center;
  align-items: center;
  padding-bottom: 36px;
  margin-left: 250px;
  margin-right: 250px;
}

/* 화면 너비가 1200px 이하일 때 */
@media (max-width: 1260px) {
  .container {
    margin-left: 150px;
    margin-right: 150px;
  }
}

/* 화면 너비가 992px 이하일 때 */
@media (max-width: 1060px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }

  .col-right {
    display: flex;
    flex-direction: column; /* 수직 배치 */
    align-items: flex-start;
  }

  .warning {
    display: block;
    margin-left: 0;
    margin-top: 5px;
  }
}

/* 화면 너비가 768px 이하일 때 */
@media (max-width: 768px) {
  .container {
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

/* 화면 너비가 576px 이하일 때 */
@media (max-width: 576px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .col-left {
    padding-left: 20px !important;
  }
}

/* 화면 너비가 400px 이하일 때 */
@media (max-width: 480px) {
  .sub-title {
    margin-top: 150px;
  }
  .container {
    margin: 20px;
  }
}
.sub-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 36px;
}

.sub-title {
  font-size: 44px;
}

.member-join {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.table-notice {
  display: flex;
  justify-content: end;
}

.strong {
  background-color: #ff6160;
  color: white;
  font-size: larger;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-table {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 10px;
}

.row {
  display: contents;
  border: 0 1px;
}
.col-left {
  text-align: left;
  padding-left: 50px;
  display: flex;
  align-items: center;
  height: 50px;
}

.col-right {
  display: flex;
  align-items: center;
  gap: 5px; /* 입력 필드 간격 */
}

.name-container {
  margin-bottom: 20px;
}

.required {
  color: #ff6160;
}

.email-container {
}

.email-input,
.domain-input {
  height: 40px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #f2f2f2;
  background-color: #f7f7f7;
  width: 100px;
}
.input {
  height: 40px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #f2f2f2;
  background-color: #f7f7f7;
  width: 315px;
}

.at-symbol {
  padding: 0 5px;
}

.domain-select {
  padding: 10px;
  border: 1px solid #f2f2f2;
  background-color: #f7f7f7;
  width: 95px;
}

.warning {
  color: #f87c6e;
  font-size: 12px;
  margin-left: 10px;
}

.agreement-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 각 줄 간격 */
}

.agreement-all {
  font-weight: bold;
  text-align: start;
  margin-top: 30px;
  margin-bottom: 10px;
}

.agreement-all-content {
  margin-left: 40px;
  text-align: left;
  margin-bottom: 10px;
  font-size: small;
}

.agreement-details {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.agreement {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  justify-content: space-between; /* 좌우 요소를 양쪽 끝으로 정렬 */

  font-size: 14px;
  cursor: pointer;
  height: 50px;
}
.agreement-text {
  flex: 1;
  text-align: left;
}

input[type='checkbox'] {
  margin-right: 8px; /* 체크박스와 텍스트 간격 */
  margin-left: 20px;
}

.btn-detail {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  border: 1px solid #333;
  padding: 0 5px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  cursor: pointer;
  margin-top: 30px;
  width: 180px;
  height: 50px;
  border: 1px solid #333;
}
.cancel {
  background-color: white;
  margin-right: 20px;
}
.confirm {
  background-color: black;
  color: white;
}
.agree {
  margin-bottom: 10px;
}
